# Django
SECRET_KEY=yourdjango-insecure-2y60_#z@$n%*4jfqlo*-h_z5r60f+%%^q7f-x_)+^ziu5ru0yw
DEBUG=True
ALLOWED_HOSTS=localhost
CORS_ORIGINS=http://localhost:3000,http://localhost:3001
# Database
# DB_NAME=chatbot_db
# DB_USER=postgres
# DB_PASSWORD=postgres123
# DB_HOST=db
# RIGHT
# ALLOWED_HOSTS=chatbot-saas-frontend-two.vercel.app,donut-juniper-silly.ngrok-free.dev,localhost,127.0.0.1,http://localhost:3000

DB_NAME=postgres
DB_USER=postgres.
DB_PASSWORD=passowerd
DB_HOST=aws-1-us-east-1.pooler.supabase.com
DB_PORT=5432
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:5432/${DB_NAME}
# Redis
REDIS_URL=redis://redis:6379
# Google Gemini
# GOOGLE_API_KEY=api key



# CORS
CORS_ALLOW_ALL_ORIGINS=True
GOOGLE_API_KEY=API_KEY
GOOGLE_TEXT_MODEL=gemma-3-12b-it
GOOGLE_TEXT_MODEL_BACKUP=gemini-3.1-flash-lite-preview
GOOGLE_EMBEDDING_MODEL=models/gemini-embedding-001

KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_CLUSTER_ID=Mk3OEYBSD34fcwNTJENDM2Qk
# gemin-3.1-flash-lite

SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=key

# https://ehjmkzehmjymtzmqdszx.supabase.co

# public eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVoam1remVobWp5bXR6bXFkc3p4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY0NzM2NTUsImV4cCI6MjA5MjA0OTY1NX0.oyWr7A8jZfJgtEUKwt80AjFfEErC-m7Ofg1aA6T1wmM
# secret eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVoam1remVobWp5bXR6bXFkc3p4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjQ3MzY1NSwiZXhwIjoyMDkyMDQ5NjU1fQ.AkMdvKT0XSnEOG0W3dtAU_3BsLnkoo5wB8LSnAbnXfg